In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [169]:
# get the Tennessee zipcode per city data from the website
url = "https://www.zip-codes.com/state/tn.asp"
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")
results = soup.find(id="tblZIP")

In [170]:
# extract all the table row html elements
table_rows = results.find_all("tr")

In [171]:
# initialize the dictionary with corresponding headers
zip_codes = dict()
for header in table_rows[0].find_all("td"):
    zip_codes[header.text] = list()
zip_codes

{'ZIP Code': [], 'City': [], 'County': [], 'Type': []}

In [172]:
# put each column value into the corresponding key value
for row in table_rows[1:]:
    cur_row = row.find_all("td")
    for idx in range(len(cur_row)):
        if idx == 0:
            zip_codes["ZIP Code"].append(cur_row[idx].text)
        elif idx == 1:
            zip_codes["City"].append(cur_row[idx].text)
        elif idx == 2:
            zip_codes["County"].append(cur_row[idx].text)
        else:
            zip_codes["Type"].append(cur_row[idx].text)

In [176]:
# convert the dictionary to a dataframe and select `ZIP Code` and `City` columns
df = pd.DataFrame(zip_codes)
df = df[["ZIP Code", "City"]]
df.head()

         ZIP Code        City
0  ZIP Code 37010       Adams
1  ZIP Code 37011     Antioch
2  ZIP Code 37012  Alexandria
3  ZIP Code 37013     Antioch
4  ZIP Code 37014   Arrington

In [177]:
# extract zipcode with `ZIP Code` column
zips = list()
for zip_code in df["ZIP Code"].str.split(" "):
    zips.append(zip_code[2])
    
df["ZIP Code"] = zips

In [178]:
df.to_csv("./data/Zipcodes.csv", index=False)